.table th, .table td {
    vertical-align: middle;
}

.actions {
    margin: auto 7px;
    color: #ffffff;
}

.card .load {
    text-align: center !important;
    margin: 50px auto;
}

.card .searchInput {
    margin-top: 50px auto;
    color: gray;
}

.card-body .emptyMessage {
    margin: 50px auto;
    color: gray;
}