.card-body {
    text-align: center;
}

.card .load {
    text-align: center !important;
    margin: 50px auto;
}

.card-body .f-left {
    float: left;
}

.card-body .f-right {
    float: right;
}

.card-body i {
    vertical-align: middle;
}

.card-body .searchInput {
    margin-top: 20px;
}

#user_table td {
    vertical-align: middle;
}

.btnOne {
    margin-right: 2px;
}

.btnTwo {
    margin-left: 2px;
}

.searchInput {
    float: right;
    width: 70%;
}

.btn-danger {
    background-color: red !important;
    border-color: red !important;
}